.collapsible {
  background-color: #eee;
  border: none;
  color: #444;
  cursor: pointer;
  font-size: 15px;
  outline: none;
  padding: 18px;
  text-align: left;
  width: 100%;
}

.active, .collapsible:hover {
  background-color: #ccc;
}

.content {
  background-color: #f1f1f1;
  display: none;
  margin: auto;
  max-height: 0;
  overflow: hidden;
  padding: 0 18px;
  transition: max-height 0.2s ease-out;
  max-width: 95%;
}

ul {
  list-style-type: none;
  margin: 0;
}

li {
  margin: 10px;
}

button {
  margin-top: 10px;
}

.whole {
  background-color: green;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: red;
  width: 100%;
}

.body {
  background-color: springgreen;
  display: flex;
}

.navbar {
  background-color: purple;
  width: 20%;
}

.content-show h2, .content-show ul, .content-show li {
  background-color: salmon;
  margin: 0;
  padding: 0;
  text-align: center;
}
